In [4]:
import numpy as np
import pandas as pd
from datetime import date

In [3]:
start_day = 10
passed_days = 10
month = 9
year = 2021
date_col = [date(year, month, day) for day in range(start_day, start_day + passed_days)]
date_col

[datetime.date(2021, 9, 10),
 datetime.date(2021, 9, 11),
 datetime.date(2021, 9, 12),
 datetime.date(2021, 9, 13),
 datetime.date(2021, 9, 14),
 datetime.date(2021, 9, 15),
 datetime.date(2021, 9, 16),
 datetime.date(2021, 9, 17),
 datetime.date(2021, 9, 18),
 datetime.date(2021, 9, 19)]

In [5]:
imaginated_data = {"random": np.random.rand(len(date_col)),
                   "random norm": np.random.randn(len(date_col))}
df_ind_date = pd.DataFrame(imaginated_data, index=date_col)
df_ind_date

              random  random norm
2021-09-10  0.384586     1.549176
2021-09-11  0.400394    -1.285336
2021-09-12  0.754883     0.088510
2021-09-13  0.291876     0.433677
2021-09-14  0.883785    -0.721426
2021-09-15  0.566011     1.442521
2021-09-16  0.663586    -0.366104
2021-09-17  0.940206     1.236872
2021-09-18  0.663711    -0.722066
2021-09-19  0.497942    -0.307576

In [11]:
# Slice for date-index-case:
df_ind_date.loc[date_col[3]: date_col[8], :]

              random  random norm
2021-09-13  0.291876     0.433677
2021-09-14  0.883785    -0.721426
2021-09-15  0.566011     1.442521
2021-09-16  0.663586    -0.366104
2021-09-17  0.940206     1.236872
2021-09-18  0.663711    -0.722066

In [20]:
# Slice for date-column-case:
imaginated_data["date"] = date_col
df_col_date = pd.DataFrame(imaginated_data)
df_col_date[
    (df_col_date['date'] >= date_col[3]) & 
    (df_col_date['date'] <= date_col[8])]

     random  random norm        date
3  0.291876     0.433677  2021-09-13
4  0.883785    -0.721426  2021-09-14
5  0.566011     1.442521  2021-09-15
6  0.663586    -0.366104  2021-09-16
7  0.940206     1.236872  2021-09-17
8  0.663711    -0.722066  2021-09-18