In [1]:
import pandas as pd
from datetime import date
import numpy as np

In [3]:
def date_generator(day):
    return date(2021, 9, day)

n = 20
indices = [date_generator(day) for day in range(10, 10 + n)]
df = pd.DataFrame({"A": np.random.rand(n),
                   "B": np.random.randn(n),
                   "C": np.ones(n)}, index=indices)
df.head()

                   A         B    C
2021-09-10  0.640872 -1.701072  1.0
2021-09-11  0.721789  0.617975  1.0
2021-09-12  0.027244 -0.428279  1.0
2021-09-13  0.558296  0.437431  1.0
2021-09-14  0.738049 -0.849224  1.0

In [3]:
df.to_dict('records')[0]

{'A': 0.38101045797476585, 'B': 0.403981636337223, 'C': 1.0}

In [4]:
def get_day(day):
    return date(2021, 9, day)

df.loc[get_day(13): get_day(21), :]

                   A         B    C
2021-09-13  0.558296  0.437431  1.0
2021-09-14  0.738049 -0.849224  1.0
2021-09-15  0.188365  0.275406  1.0
2021-09-16  0.995887  1.090084  1.0
2021-09-17  0.557705  0.966979  1.0
2021-09-18  0.669586 -0.398953  1.0
2021-09-19  0.859506 -0.890369  1.0
2021-09-20  0.958970 -1.443892  1.0
2021-09-21  0.352162 -2.056903  1.0

In [6]:
def date_generator(day):
    return date(2021, 9, day)

n = 20
indices = [date_generator(day) for day in range(10, 10 + n)]
df = pd.DataFrame({"date": indices,
                   "A": np.random.rand(n),
                   "B": np.random.randn(n),
                   "C": np.ones(n)})
df.head()

         date         A         B    C
0  2021-09-10  0.751746 -0.146003  1.0
1  2021-09-11  0.718064  0.115969  1.0
2  2021-09-12  0.776831  2.271121  1.0
3  2021-09-13  0.108948 -2.018863  1.0
4  2021-09-14  0.345586 -1.813727  1.0

In [ ]:
df[df["date"] ]

In [ ]:
import dash
from dash import dash_table
from dash import html
from dash import dcc
import pandas as pd
from collections import OrderedDict


app = dash.Dash(__name__)

app.layout = html.Div(children=[
    html.H1(children='My own page with Dash'),
    html.Center(html.H3("This is H3")),
    html.H5("this H5", style={'text-align': 'right'}),
    dcc.Link("The link", id="link", style={'color': 'green', 'text-align': 'center'}, href="https://google.com"),
    dash_table.DataTable(
        data=df.to_dict('records'),
        columns=[{'id': c, 'name': c} for c in df.columns],
        style_header={'border': '1px solid black'},
        style_cell={'border': '1px solid grey', 'minWidth': '80px', 'width': '80px', 'maxWidth': '80px'},
#         style_data_conditional=[
#             {
#                 'if': {
#                     'filter_query': '{Temperature} < 0',
#                     'column_id': 'Temperature'
#                 },
#                 'backgroundColor': 'blue',
#                 'color': "white"
#             }
#         ]
    )
])

if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [29/Sep/2021 01:41:20] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:21] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:21] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:21] "GET /_dash-component-suites/dash/dash_table/async-highlight.js HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:21] "GET /_dash-component-suites/dash/dash_table/async-table.js HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:53] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:53] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:53] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2021 01:41:53] "GET /_reload-hash HTTP/1.1" 200 -